:root {
    /* colors */
  /*primary color*/
  --clr-primary-1: hsl(205, 86%, 16%);
  --clr-primary-2: hsl(205, 75%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 86%, 68%);
  --clr-primary-7: hsl(205, 83%, 75%);
  --clr-primary-8: hsl(205, 80%, 80%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey*/
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* dark grey */
  --clr-grey-background: hsl(211, 39%, 23%, 0.5);
  /* grey */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: rgb(179, 34, 34);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 42%);
  --clr-green-light: hsl(125, 72%, 67%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  /* other variables */
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}




.app {
    height: 100vh;
    display: flex;
    color: var(--clr-white);
}

.main {
    display: flex;
    width: 75%;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020229), url('../src/assets/bg.jpg') center;
    background-size: cover;

}

.loading {
    text-align: center;
}

.top {
    position: relative;
    height: 40%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 3rem;
}

.start {
    width: 40%;
    margin: 10px auto;
    background-color: var(--clr-grey-1);
    color: var(--clr-white);
    font-size: 2rem;
    border: 1px solid var(--clr-white);
    padding: 10px;
    border-radius: 15px;
}

.bottom {
    height: 50%;
    
}

.quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nextQuestion {
    margin-left: 15px;
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--clr-black);
    border: 2px solid var(--clr-white);
    color: var(--clr-white);

}

.question {
    width: 80%;
    background-color: var(--clr-black);
    border: 2px solid var(--clr-white);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.8rem;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    width: 40%;
    padding: 10px;
    background-color: var(--clr-black);
    text-align: center;
    border: 1px solid var(--clr-white);
    border-radius: 10px;
    margin: 0 10px 10px 10px;
}

.correctAnswer1 {
    text-align: center;
    font-size: 2rem;
}
.correctAnswer2 {
    animation: correctAnswer 3s ease forwards;
}

@keyframes correctAnswer {
  0%, 
  62% {
  color: transparent;
}

  100% {
    color: var(--clr-green-dark);
  }
}


.answerText {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--clr-black);
    border: none;
    color: var(--clr-white);
    font-size: 1.2rem;
}

.answer:hover, .answer.active, .answerText.active, .answerText.hover {
    background-color: var(--clr-primary-2);
}

.answer.correct {
    animation: correct 3s ease forwards;
}

@keyframes correct {
    0%,22%, 42%{
        background-color: var(--clr-primary-2)
    }
    20%, 40%, 60%{
        background-color: var(--clr-black);
    }
    62%, 100% {
        background-color: var(--clr-green-dark);
    }
}
.answer.wrong {
    animation: wrong 3s ease forwards;
}

@keyframes wrong {
    0%,22%, 42%{
        background-color: var(--clr-primary-2)
    }
    20%, 40%, 60%{
        background-color: var(--clr-black);
    }
    62%, 100% {
        background-color: var(--clr-red-dark);
    }
}


.pyramid {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020229), var(--clr-grey-1);
}



.moneyList {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.moneyListItem.active {
    background-color: var(--clr-primary-5);
} 

.moneyListItemNumber {
    font-size: 1.5rem;
    font-weight: 300;
    width: 30%;
}
.moneyListItemAccount {
    font-size: 1.6rem;
    font-weight: 500;
}

.number {
    font-size: 1.4rem;
}

@media only screen and (max-width: 900px) {
  .moneyListItemNumbe, .moneyListItemAccount, .question, .number, .answerText {
    font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    .moneyListItemNumber, .moneyListItemAccount, .question, .number, .answerText {
        font-size: 0.8rem;
    }
    .correctAnswer1, .correctAnswer2 {
        font-size: 1rem;
    }

    .main {
        width: 65%;
    }
    .pyramid {
        width: 35%;
    }

}